**/node_modules
**/.git
**/.gitignore
**/.env
**/.env.*
**/npm-debug.log*

client/
**/dist
**/dev-dist
**/build

server/uploads/*
!server/uploads/.gitkeep

**/.vscode
**/.idea
**/*.md
**/coverage
**/.DS_Store
